@using Shawsoft.Razor.Entra.Models
@inject EntraDirectoryService Entra;


    <div class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow max-w-[400px] mb-3 bg-gray-100/80">
    @if (_User != null)
    {
        <div class="flex w-full items-center justify-between space-x-6 p-6">
            <div class="flex-1 truncate">
                <div class="flex items-center space-x-3">
                    <h3 class="truncate text-sm font-medium text-gray-900">@_User?.DisplayName</h3>
                    <span class="inline-flex flex-shrink-0 items-center rounded-full bg-pink-50 px-1.5 py-0.5 text-xs font-medium text-pink-700 ring-1 ring-inset ring-pink-600/20">@_User?.JobDetails?.Country</span>
                </div>
                <p class="mt-1 truncate text-sm text-gray-500">@_User?.JobDetails?.JobTitle</p>
                <p class="mt-1 truncate text-sm text-gray-500">@_User?.JobDetails?.Department</p>
            </div>
           
            <Avatar User="_User" ClassNames="h-12 w-12 flex-shrink-0 rounded-full bg-gray-300"/>
            
        </div>
        <div>
            <div class="-mt-px flex divide-x divide-gray-200">
                <div class="@(_User?.ContactDetails?.EMail == null ? "hidden" : "") flex w-0 flex-1 cursor-pointer">
                    <a href="@($"mailto:{_User?.ContactDetails?.EMail}")" class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
                        <svg class="h-5 w-5" viewBox="0 0 32 32" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <rect x="10" y="2" width="20" height="28" rx="2" fill="#1066B5" />
                            <rect x="10" y="2" width="20" height="28" rx="2" fill="url(#paint0_linear_87_7742)" />
                            <rect x="10" y="5" width="10" height="10" fill="#32A9E7" />
                            <rect x="10" y="15" width="10" height="10" fill="#167EB4" />
                            <rect x="20" y="15" width="10" height="10" fill="#32A9E7" />
                            <rect x="20" y="5" width="10" height="10" fill="#58D9FD" />
                            <mask id="mask0_87_7742" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="8" y="14" width="24" height="16">
                                <path d="M8 14H30C31.1046 14 32 14.8954 32 16V28C32 29.1046 31.1046 30 30 30H10C8.89543 30 8 29.1046 8 28V14Z" fill="url(#paint1_linear_87_7742)" />
                            </mask>
                            <g mask="url(#mask0_87_7742)">
                                <path d="M32 14V18H30V14H32Z" fill="#135298" />
                                <path d="M32 30V16L7 30H32Z" fill="url(#paint2_linear_87_7742)" />
                                <path d="M8 30V16L33 30H8Z" fill="url(#paint3_linear_87_7742)" />
                            </g>
                            <path d="M8 12C8 10.3431 9.34315 9 11 9H17C18.6569 9 20 10.3431 20 12V24C20 25.6569 18.6569 27 17 27H8V12Z" fill="#000000" fill-opacity="0.3" />
                            <rect y="7" width="18" height="18" rx="2" fill="url(#paint4_linear_87_7742)" />
                            <path d="M14 16.0693V15.903C14 13.0222 11.9272 11 9.01582 11C6.08861 11 4 13.036 4 15.9307V16.097C4 18.9778 6.07278 21 9 21C11.9114 21 14 18.964 14 16.0693ZM11.6424 16.097C11.6424 18.0083 10.5665 19.1579 9.01582 19.1579C7.46519 19.1579 6.37342 17.9806 6.37342 16.0693V15.903C6.37342 13.9917 7.44937 12.8421 9 12.8421C10.5348 12.8421 11.6424 14.0194 11.6424 15.9307V16.097Z" fill="white" />
                            <defs>
                                <linearGradient id="paint0_linear_87_7742" x1="10" y1="16" x2="30" y2="16" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#064484" />
                                    <stop offset="1" stop-color="#0F65B5" />
                                </linearGradient>
                                <linearGradient id="paint1_linear_87_7742" x1="8" y1="26.7692" x2="32" y2="26.7692" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#1B366F" />
                                    <stop offset="1" stop-color="#2657B0" />
                                </linearGradient>
                                <linearGradient id="paint2_linear_87_7742" x1="32" y1="23" x2="8" y2="23" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#44DCFD" />
                                    <stop offset="0.453125" stop-color="#259ED0" />
                                </linearGradient>
                                <linearGradient id="paint3_linear_87_7742" x1="8" y1="23" x2="32" y2="23" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#259ED0" />
                                    <stop offset="1" stop-color="#44DCFD" />
                                </linearGradient>
                                <linearGradient id="paint4_linear_87_7742" x1="0" y1="16" x2="18" y2="16" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#064484" />
                                    <stop offset="1" stop-color="#0F65B5" />
                                </linearGradient>
                            </defs>
                        </svg>
                        Email
                    </a>
                </div>
                <div class="-ml-px flex w-0 flex-1 cursor-pointer">
                    <a href="@($"https://teams.microsoft.com/l/chat/0/0?users={_User?.Identity?.UserPrincipalName}")" target="_blank" class="relative inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
                        <svg class="h-5 w-5" viewBox="0 0 16 16"
                             xmlns="http://www.w3.org/2000/svg" fill="none">
                            <path fill="#5059C9" d="M10.765 6.875h3.616c.342 0 .619.276.619.617v3.288a2.272 2.272 0 01-2.274 2.27h-.01a2.272 2.272 0 01-2.274-2.27V7.199c0-.179.145-.323.323-.323zM13.21 6.225c.808 0 1.464-.655 1.464-1.462 0-.808-.656-1.463-1.465-1.463s-1.465.655-1.465 1.463c0 .807.656 1.462 1.465 1.462z" />
                            <path fill="#7B83EB" d="M8.651 6.225a2.114 2.114 0 002.117-2.112A2.114 2.114 0 008.65 2a2.114 2.114 0 00-2.116 2.112c0 1.167.947 2.113 2.116 2.113zM11.473 6.875h-5.97a.611.611 0 00-.596.625v3.75A3.669 3.669 0 008.488 15a3.669 3.669 0 003.582-3.75V7.5a.611.611 0 00-.597-.625z" />
                            <path fill="#000000" d="M8.814 6.875v5.255a.598.598 0 01-.596.595H5.193a3.951 3.951 0 01-.287-1.476V7.5a.61.61 0 01.597-.624h3.31z" opacity=".1" />
                            <path fill="#000000" d="M8.488 6.875v5.58a.6.6 0 01-.596.595H5.347a3.22 3.22 0 01-.267-.65 3.951 3.951 0 01-.172-1.15V7.498a.61.61 0 01.596-.624h2.985z" opacity=".2" />
                            <path fill="#000000" d="M8.488 6.875v4.93a.6.6 0 01-.596.595H5.08a3.951 3.951 0 01-.172-1.15V7.498a.61.61 0 01.596-.624h2.985z" opacity=".2" />
                            <path fill="#000000" d="M8.163 6.875v4.93a.6.6 0 01-.596.595H5.079a3.951 3.951 0 01-.172-1.15V7.498a.61.61 0 01.596-.624h2.66z" opacity=".2" />
                            <path fill="#000000" d="M8.814 5.195v1.024c-.055.003-.107.006-.163.006-.055 0-.107-.003-.163-.006A2.115 2.115 0 016.593 4.6h1.625a.598.598 0 01.596.594z" opacity=".1" />
                            <path fill="#000000" d="M8.488 5.52v.699a2.115 2.115 0 01-1.79-1.293h1.195a.598.598 0 01.595.594z" opacity=".2" />
                            <path fill="#000000" d="M8.488 5.52v.699a2.115 2.115 0 01-1.79-1.293h1.195a.598.598 0 01.595.594z" opacity=".2" />
                            <path fill="#000000" d="M8.163 5.52v.647a2.115 2.115 0 01-1.465-1.242h.87a.598.598 0 01.595.595z" opacity=".2" />
                            <path fill="url(#microsoft-teams-color-16__paint0_linear_2372_494)" d="M1.597 4.925h5.969c.33 0 .597.267.597.596v5.958a.596.596 0 01-.597.596h-5.97A.596.596 0 011 11.479V5.521c0-.33.267-.596.597-.596z" />
                            <path fill="#ffffff" d="M6.152 7.193H4.959v3.243h-.76V7.193H3.01v-.63h3.141v.63z" />
                            <defs>
                                <linearGradient id="microsoft-teams-color-16__paint0_linear_2372_494" x1="2.244" x2="6.906" y1="4.46" y2="12.548" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#5A62C3" />
                                    <stop offset=".5" stop-color="#4D55BD" />
                                    <stop offset="1" stop-color="#3940AB" />
                                </linearGradient>
                            </defs>
                        </svg>
                        Message
                    </a>
                </div>
                <div class="@(_User?.ContactDetails?.MobilePhone == null ? "hidden" : "") -ml-px flex w-0 flex-1 cursor-pointer">
                    <a href="@($"tel:{_User?.ContactDetails?.MobilePhone}")" class="relative inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
                        <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z" clip-rule="evenodd" />
                        </svg>
                        Call
                    </a>
                </div>
            </div>
        </div>
   
    }
    else
    {
    <div class="flex w-full items-center animate-pulse justify-between space-x-6 p-6">
        <div class="flex-1 truncate">
            <div class="flex items-center space-x-3">
                <div class="truncate h-4 bg-gray-200 rounded w-1/2"></div>
            </div>
            <div class="mt-1 truncate h-4 bg-gray-200 rounded w-full"></div>
            <div class="mt-1 truncate h-4 bg-gray-200 rounded w-full"></div>
        </div>

        <div class="h-12 w-12 flex-shrink-0 rounded-full bg-gray-300"></div>

    </div>
    <div>
        <div class="-mt-px flex divide-x divide-gray-200">
            <div class="flex w-0 flex-1 cursor-pointer">
                <div class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
                    <div class="h-4 bg-gray-200 rounded w-1/2"></div>
                </div>
            </div>
                <div class="-ml-px flex w-0 flex-1 cursor-pointer">
                    <div class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
                        <div class="h-4 bg-gray-200 rounded w-1/2"></div>
                    </div>
            </div>
            <div class="hidden -ml-px flex w-0 flex-1 cursor-pointer">
                <div class="relative inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
                    <div class="h-4 bg-gray-200 rounded w-1/2"></div>
                </div>
            </div>
        </div>
    </div>
    }
</div>


@code {

    [Parameter]
    public string? UserId { get; set; }


    EntraUser? _User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId == null) 
            throw new ArgumentNullException("User Id must be specified");

        _User = await Entra!.GetAppUserById(UserId);
    }
}
